<%- include("./header.ejs")%>

<div style="padding: 30px;font-size: 16px;color: #6c757d; text-align: center;">
    Hi, <%= locals.username %>,
<br/>
<br/>
Thank you for creating an account on <%= locals.frontendUrl %>.
<br/>
<br/>
Please confirm your Email to finish the registration:
    <div style="padding:30px; text-align:center;">
    <a
        href="<%= locals.activationLink %>"
style="font-size:16px;padding:10px 16px;border-radius:5px;color: #fff;background:#62BE77;text-decoration:none;text-decoration: none;display: inline-block;"
    > Confirm Email</a
>
</div>
</div>
</table>

<%- include("./footer.ejs") %>
